<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>后台测试</title>
    <script src="/Public/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/Public/jquery-ui-1.12.1.custom/jquery-ui.css">
    <script src="/Public/jquery-ui-1.12.1.custom/jquery-ui.js"></script>

    <link rel="stylesheet" href="/Public/bootstrap-3.3.7/dist/css/bootstrap.css">
    <script src="/Public/bootstrap-3.3.7/dist/js/bootstrap.js"></script>

    <style>

    </style>

    <script>
        //页面移动相关代码
        var mZindex = 0;
        var mCurrID = "";

        var buttons = [];


        function registerDraggable(id) {
            var jId = "#" + id;

            $(jId).draggable({
                start: function () {
                    console.log("start=id=" + id);
                    setStart(this);
                },
                drag: function () {
                    console.log(456);
                },
                stop: function () {
                    setStop(this);
                }
            });
        }

        //移动元素开始
        function setStart(mThis) {
            mZindex++;
            $(mThis).css(
                {
                    zIndex: mZindex
                }
            );
            mCurrID = $(mThis).attr("id");
            var isFirst = mThis.getAttribute("isFirst");


            if (isFirst !== "false") {

                var eleID = guid();
                console.log("----->eleId=" + eleID);
                var a = mThis.cloneNode(true);//拖拽走了第一个初始化对象，需要克隆一个对象保存在本地继续使用
                var currId = a.getAttribute("id");
                eleID = "btn" + (parseInt(currId.substring(3, 999)) + 1);
                a.setAttribute("id", eleID);
                a.setAttribute("isFirst", true);
                $("#res-pannel").append(a);
                registerDraggable(eleID);
                console.log("----->eleId2=" + eleID);
                var itemButton =
                    {
                        id: mThis.getAttribute("id"),
                        name: "按键A",
                        type: 'img',
                        nextFocusLeft: '',
                        nextFocusRight: '',
                        nextFocusUp: '',
                        nextFocusDown: '',
                        focusable: true,
                        backgroundImage: "__ROOT__/Public/img/about.png",
                        focusImage: "__ROOT__/Public/img/about_box.png",
                        bigImg: "",
                        click: "",
                        moveChange: "",
                        focusChange: ""
                    };
                buttons.push(itemButton);
                var testEle = document.createElement("option");
                testEle.setAttribute("value", mThis.getAttribute("id"));
                testEle.innerHTML = mThis.getAttribute("id");
                $("#btn-nextFocusLeft").append(testEle);

                var rightEle = document.createElement("option");
                rightEle.setAttribute("value", mThis.getAttribute("id"));
                rightEle.innerHTML = mThis.getAttribute("id");
                $("#btn-nextFocusRight").append(rightEle);

                var upEle = document.createElement("option");
                upEle.setAttribute("value", mThis.getAttribute("id"));
                upEle.innerHTML = mThis.getAttribute("id");
                $("#btn-nextFocusUp").append(upEle);
                var downEle = document.createElement("option");
                downEle.setAttribute("value", mThis.getAttribute("id"));
                downEle.innerHTML = mThis.getAttribute("id");
                $("#btn-nextFocusDown").append(downEle);
                // btn-nextFocusLeft-test

            }

            function guid() {
                return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
                    var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
                    return v.toString(16);
                });
            }
        }

        //元素移动结束
        function setStop(mThis) {
            var Y = $(mThis).offset().top;
            var X = $(mThis).offset().left - 200;
            var w = $(mThis).width();
            var h = $(mThis).height();
            var z = $(mThis).css("z-index");
            $("#mWidth").val(w);
            $("#mHeight").val(h);
            $("#mX").val(X);
            $("#mY").val(Y);
            $("#mZ").val(z);
            console.log(X + "---" + Y);
            mThis.setAttribute("isFirst", false);
            mThis.setAttribute("onclick", "btnClick(this)");
            var currID = "#" + mThis.id;
            $(currID).css(
                {
                    left: X
                }
            )
            $("#lm-canvas").append(mThis);
            // btnSetById(mThis.id);
        }

        //界面元素点击事件
        function btnClick(mThis) {
            for (var i = 0; i < buttons.length; i++) {
                var itemBtn = buttons[i];
                if (itemBtn.id === mThis.id) {
                    $("#btn-id").val(itemBtn.id);
                    $("#btn-name").val(itemBtn.name);
                    $("#btn-type").val(itemBtn.type);
                    $("#btn-nextFocusLeft").val(itemBtn.nextFocusLeft);
                    $("#btn-nextFocusRight").val(itemBtn.nextFocusRight);
                    $("#btn-nextFocusUp").val(itemBtn.nextFocusUp);
                    $("#btn-nextFocusDown").val(itemBtn.nextFocusDown);
                    $("#btn-focusable").val(itemBtn.focusable);
                    $("#btn-backgroundImage").attr("src", itemBtn.backgroundImage);
                    $("#btn-focusImage").attr("src", itemBtn.focusImage);
                    $("#btn-click").val(itemBtn.click);
                    $("#btn-focusChange").val(itemBtn.focusChange);
                }
            }
        }

        function btnSetById(btnId) {
            for (var i = 0; i < buttons.length; i++) {
                if (buttons[i].id === btnId) {
                    buttons[i].id = $("#btn-id").val();
                    buttons[i].name = $("#btn-name").val();
                    buttons[i].type = $("#btn-type").val();
                    buttons[i].nextFocusLeft = $("#btn-nextFocusLeft option:selected").val();
                    buttons[i].nextFocusRight = $("#btn-nextFocusRight option:selected").val();
                    buttons[i].nextFocusUp = $("#btn-nextFocusUp option:selected").val();
                    buttons[i].nextFocusDown = $("#btn-nextFocusDown option:selected").val();
                    buttons[i].focusable = $("#btn-focusable").val();
                    buttons[i].backgroundImage = $("#btn-backgroundImage").attr("src");
                    buttons[i].focusImage = $("#btn-focusImage").attr("src");
                    buttons[i].click = $("#btn-click").val();
                    buttons[i].focusChange = $("#btn-focusChange").val();

                }
            }
        }

        function btnSet() {
            for (var i = 0; i < buttons.length; i++) {
                if (buttons[i].id === $("#btn-id").val()) {
                    buttons[i].id = $("#btn-id").val();
                    buttons[i].name = $("#btn-name").val();
                    buttons[i].type = $("#btn-type").val();
                    buttons[i].nextFocusLeft = $("#btn-nextFocusLeft option:selected").val();
                    buttons[i].nextFocusRight = $("#btn-nextFocusRight option:selected").val();
                    buttons[i].nextFocusUp = $("#btn-nextFocusUp option:selected").val();
                    buttons[i].nextFocusDown = $("#btn-nextFocusDown option:selected").val();
                    buttons[i].focusable = $("#btn-focusable").val();
                    buttons[i].backgroundImage = $("#btn-backgroundImage").attr("src");
                    buttons[i].focusImage = $("#btn-focusImage").attr("src");
                    buttons[i].click = $("#btn-click").val();
                    buttons[i].focusChange = $("#btn-focusChange").val();

                }
            }
        }

        //右侧设置元素的位置信息
        function setOnChange(mThis) {
            var mVal = $(mThis).val() + "px";
            var action = $(mThis).attr("a");
            var currID = "#" + mCurrID;
            var mAttStr = "";
            switch (action) {
                case "x":
                    $(currID).css(
                        {
                            left: mVal
                        }
                    )
                    break;
                case "y":
                    $(currID).css(
                        {
                            top: mVal
                        }
                    )
                    break;
                case "w":
                    $(currID).css(
                        {
                            width: mVal
                        }
                    )
                    break;
                case "h":
                    $(currID).css(
                        {
                            height: mVal
                        }
                    )
                    break;
            }
        }


        //设置当前页面的背景图片
        function setBg(mThis) {
            var a = "url('" + this.src + "')";
            $("#lm-canvas").css(
                {
                    backgroundImage: a
                }
            )
        }

        function publish(mThis) {
            var e = $("#publish").html();
            var data = {
                "htmlContent": e,
                "button": JSON.stringify(buttons)
            };
            $.post({
                url: "/index.php?m=Home&c=Publish&a=index",
                data: data,
                success: function (data) {
                    window.open(data);
                }
            });

        }


    </script>


    <script type="text/javascript">

        $(function () {
            registerDraggable("btn1");
        });

    </script>

    <script>
        function uploadAjax() {
            var fileObj = document.getElementById("FileUpload").files[0]; // js 获取文件对象
            if (typeof (fileObj) == "undefined" || fileObj.size <= 0) {
                alert("请选择图片");
                return;
            }
            var formFile = new FormData();
            formFile.append("action", "UploadVMKImagePath");
            formFile.append("file", fileObj); //加入文件对象

            var data = formFile;
            $.ajax({
                url: "/index.php?m=Home&c=File&a=upload",
                data: data,
                type: "post",
                dataType: "json",
                cache: false,//上传文件无需缓存
                processData: false,//用于对data参数进行序列化处理 这里必须false
                contentType: false, //必须
                success: function (data) {
                    var dataObj = JSON.parse(data);
                    if (dataObj.result == 0) {
                        var tempImgStr = dataObj.img_path;
                        var eleImg = document.createElement("img");
                        eleImg.onclick = setBg;
                        eleImg.setAttribute("src", tempImgStr);
                        eleImg.style.width = "100px";
                        eleImg.style.height = "100px";
                        $("#showImg").append(eleImg);
                    } else {
                        alert(dataObj.msg);
                    }
                },
            })
        }


        function whichButton(event) {
            var btnNum = event.button;
            if (btnNum == 2) {
                alert("需要处理删除元素这类操作！");
            }
        }

        function setFocusImg(mThis) {

        }

    </script>


<body>


<div id="res-pannel">
    <img id="btn1" src="/Public/img/about.png" class="ui-widget-content" style="position:absolute;width: 174px;
        z-index: 1;text-align: center;line-height: 64px;color: white" onmousedown="whichButton(event)"/>
</div>


<div style="position:absolute;left: 0px;top: 300px;width: 200px;height: 200px;background: rebeccapurple">
    　　<input type="file" name="FileUpload" id="FileUpload"/> <br>
    　　<input type="submit" value="上传" onclick="uploadAjax()"/>
    <div id="showImg"></div>
</div>


<div id="publish" style="position:absolute;left:200px;top:0px;width: 644px;height: 530px;background: #003eff">
    <div id="lm-canvas" style="position:absolute;left: 0;top:0;background: #003eff;width: 644px;height: 530px;">

    </div>
</div>


<div id="set" curID=""
     style="left: 900px;top: 0px;width: 400px;height: 600px;background: rebeccapurple;position: absolute">
    宽度设置：<input id="mWidth" a="w" type="number" oninput="setOnChange(this)"><br/>
    高度设置：<input id="mHeight" a="h" oninput="setOnChange(this)" type="number"><br/>
    X：<input id="mX" type="number" a="x" oninput="setOnChange(this)"><br/>
    Y：<input id="mY" type="number" a="y" oninput="setOnChange(this)"><br/>
    当前Z轴方向:<input id="mZ" type="number" a="z" oninput="setOnChange(this)"><br/>
    <input type="button" value="发布" onclick="publish()">

    <br/><br/><br/>
    Button对象属性设置:<br/>
    按钮ID:&nbsp;<input id="btn-id"><br/>
    按钮名称:<input id="btn-name"><br/>
    按钮类型:<input id="btn-type"><br/>
    按钮左移ID:<select id="btn-nextFocusLeft">
    <option value=""></option>
</select><br/>
    按钮右移ID:<select id="btn-nextFocusRight">
    <option value=""></option>
</select><br/>
    按钮上移ID:<select id="btn-nextFocusUp">
    <option value=""></option>
</select><br/>
    按钮下移ID:<select id="btn-nextFocusDown">
    <option value=""></option>
</select><br/>
    按钮是否获取焦点:<input id="btn-focusable"><br/>
    按钮默认背景图片:<img id="btn-backgroundImage" src="" style="width: 40px;height: 40px;"> <br/>
    按钮获取焦点图片:<img id="btn-focusImage" src="" src="" style="width: 40px;height: 40px;">
    <input type="file" id="focusImage" value="123"><br/>
    按钮的点击事件:<input id="btn-click"><br/>
    按钮获取焦点事件:<input id="btn-focusChange"><br/>
    <input type="button" value="设置" onclick="btnSet()"/>

</div>

</body>
</html>